apiVersion: apps/v1
kind: Deployment
metadata:
  name: todosrestclient
  labels:
    app: todosrestclient
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todosrestclient
  template:
    metadata:
      labels:
        app: todosrestclient
    spec:
      containers:
      - name: todosrestclient
        image: todosrestclient:1.0.0
        ports:
        - containerPort: 8083
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8083
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8083
          initialDelaySeconds: 30
          periodSeconds: 10
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1"