spring:
  application:
    name: todosrestclient
server:
  port: 8083
management:
    endpoints:
      web:
        exposure:
          include: "*"
    health:
      probes:
        enabled: true
      livenessState:
        enabled: true
      readinessState:
        enabled: true
    tracing:
      sampling:
        probability: 1.0
    otlp:
      metrics:
        export:
          url: http://localhost:4318/v1/metrics
    opentelemetry:
      tracing:
        export:
          otlp:
            endpoint: http://localhost:4318/v1/traces
      logging:
        pattern:
          console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [${spring.application.name:}, %X{traceId}, %X{spanId}] %-5p %c{1} - %m%n'
        export:
          otlp:
            endpoint: http://localhost:4318/v1/logs